

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" href="#"routerLink="/home">Home</a>
        </li>
       
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" href="#"routerLink="/product">Product</a>
        </li>
        
        <li class="nav-item"  routerLinkActive="active" >
          <a class="nav-link" href="#"routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item"  routerLinkActive="active" >
          <a class="nav-link" href="#"routerLink="/product-details">Productdetails</a>
        </li> 
        <li class="nav-item"  routerLinkActive="active" >
          <a class="nav-link" href="#"routerLink="/product-info">Product-info</a>
        </li> 
       
        <li class="nav-item"  routerLinkActive="active" >
          <a class="nav-link" href="#"routerLink="/home/tv">TV</a>
        </li> </ul>    
        </div>
        <div class="col-md-3 text-end" >
          <button type="button" class="btn btn-primary" href="#"routerLink="/login">Login</button>
          <button type="button" class="btn btn-primary" href="#"routerLink="/signup">Sign-up</button>
          <!-- <button type="button" class="btn btn-primary" href="#"routerLink="/settings">Settings</button> -->

        </div>
  </nav>